{% extends 'base.html' %}

{% block title %} Dashboard {% endblock %}

{% block content %}
<h1>Dashboard</h1>

{% with total_images_created=request.user.images_created.count %}
    <p>Welcome to the Dashboard. You can <a href="{% url 'edit' %}">Edit your profile</a> or <a href="{% url 'password_change' %}">Change your password</a> </p>
{% endwith %}

<p>Drag the following button to your bookmarks toolbars to bookmark images from other webpages → <a href="javascript:{% include 'bookmarklet_launcher.js' %}" class="button">Bookmark it!</a></p>
<p>You can also <a href="{% url 'edit' %}">edit your profile</a> or <a href="{% url 'password_change' %}">change your password</a></p>
{% endblock %}